<!DOCTYPE html>
<a href="{% url 'index' %}">Home</a>
<html>
    <head>
        <h1 style="background-color: rgb(221, 231, 231);">About Us</h1>
    </head>
    <body style="background-color: rgb(190, 197, 195);">
            
            <P>
Kirinyaga Distributors Ltd is a principal supplier of tried, tested and trusted brands in animal health and crop 
farming sectors, all developed with the key objectives of increasing production and productivity on the 
farms. The quality of Our Brands that make up the range of high quality products and solutions offering by
Kirinyaga Distributors Ltd is unparalleled in the region.
Through our exclusive countrywide distributor system, a strong regional presence in Tanzania, Uganda, 
Burundi and Rwanda, we ensure our products are readily available throughout the greater East Africa region conveniently 
and cost-efficiently.
            </P>
    </body>
</html>