{% include 'base.html'%}
{% include 'navigation.html'%}
{% block content %}

<div class="container text-center">
    <div class="row">
      <div class="col">
        <h6><i class="fa-solid fa-phone"></i> Telephone</h6>
        <p> <a href="Tel:+254740783614">+254 740 783 614</a></p>
      </div>
      <div class="col">
        <h6><i class="fa-solid fa-envelope"></i> Email</h6>
        <p> <a href="mailto:faithmwangi2001@gmail.com">faithmwangi2000@gmail.com</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6><i class="fa-solid fa-fax"></i> Fax</h6>
        <p> <a href="fax:12345"> +254 20 286 0000</a></p>
      </div>
      <div class="col">
        <h6><i class="fa-solid fa-location-dot"></i> Physical Location</h6>
        <p> <a href="maps.google.com/maps?=kirinyaga"> Kerugoya Town</a></p>

      </div>
      <div class="col">
        <h6><i class="fa-brands fa-usps"></i> Postal address</h6>
        <p>P.O Box 91 - 10300, Kerugoya</p>
      </div>
    </div>
  </div>
  {% endblock content %}